


.bg-shore {
 background-color: #444dc4;
}
.bg-fertile {
 background-color: #1e8c32;
}
.bg-mountain {
 background-color: #914324;
}
.bg-wasteland {
 background-color: #c8cc5b;
}




.bg-other {
 background-color: rgba(78, 73, 231, 0.35);
}
.bg-food {
 background-color: rgba(111, 223, 119, 0.44);
}
.bg-fuel {
 background-color: rgba(224, 26, 35, 0.36);
}
.bg-material {
 background-color: rgba(228, 159, 38, 0.52);
}
.bg-proxy {
 background-color: rgba(213, 117, 5, 0.69);
}
.bg-tools {
 background-color: rgba(153, 180, 52, 0.69);
}
.bg-war {
 background-color: rgba(202, 24, 33, 0.54);
}
.bg-rare {
 background-color: rgba(245, 244, 28, 0.57);
}




.App {
  text-align: center;
}

.datablock {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-size: cover;

  height: 100vh;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.content {
 /* position: fixed; */
  left: 0;
  right: 0;
  z-index: 9;
  margin-left: 20px;
  margin-right: 20px;
}

.cheat {
  opacity: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}