
.building-container {
    position: relative;
    /* display: inline; */

    height: 60px;
    max-width: 600px;
    /* width: 215px; */
    /* background-repeat: no-repeat; */
    background-position: center center;
    background-blend-mode: hard-light;
    /* background-size: 50%; */

    padding: .2em .6em .3em;
    margin: 2px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: .25em;
}
.building-container-content {
    position: absolute;
    bottom: 3px;
    left: 0px;
}